.scroll-lock-ios {
    position: fixed;

    overflow: hidden;
}

.scroll-lock {
    overflow: hidden;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
