.collection {
    padding-top: 175px;
    overflow: hidden;

    &__title {
        font-family: $ff-rasfire;
        color: $color-white;
        font-size: 85px;
        margin: 0;
        padding: 228px 0 228px 0;
        line-height: 0.8;
        font-weight: 100;

        & span {
            display: block;
        }

        & span:last-child {
            position: relative;
            left: 240px;
        }
    }

    &__subtitle {
        top: 273px;
    }

    &__wrapper {
        gap: 114px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__left {
        display: flex;
        flex-direction: column;
        max-width: 571px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 665px;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.02em;

        &:first-of-type {
            margin-bottom: 25px;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 824px;
        height: auto;
        z-index: -1;
    }
}