.collection {
    padding-top: 175px;

    &__title {
        font-family: $ff-rasfire;
        color: $color-white;
        font-size: 85px;
        margin: 0;
        padding: 228px 0 228px 0;
        line-height: 0.8;
        font-weight: 100;

        & span {
            display: block;
        }

        & span:last-child {
            position: relative;
            left: 240px;
        }
    }

    &__subtitle {
        position: absolute;
        top: 273px;
        font-family: $ff-roboto;
        font-size: 25px;
        font-weight: 500;
        font-style: italic;
        margin: 0;
        transform: rotate(-90deg) translate(50%, -50%);
        right: -68px;
        display: block;
        line-height: 0.5;
    }

    &__wrapper {
        gap: 114px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__left {
        width: 571px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 665px;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.02em;

        &:first-of-type {
            margin-bottom: 25px;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 824px;
        height: auto;
        z-index: -1;
    }
}