.collection-vibe {
    &__title {
        padding-top: 656px;
        padding-bottom: 95px;
        font-family: $ff-rasfire;
        color: $color-white;
        font-size: 48px;
        font-weight: 100;
        margin: 0;

        & span {
            display: block;
        }
    }

    &__wrapper {
        justify-content: space-between;
        position: relative;
        gap: 20px;
        display: flex;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 665px;
        justify-content: flex-end;
    }

    &__image {
        margin-bottom: 80px;
    }

    &__text {
        margin: 0;
    }
}