.collection {
    padding-top: 175px;
    overflow: hidden;

    @include vp-767 {
        padding-top: 105px;
    }

    &__title {
        font-family: $ff-rasfire;
        color: $color-white;
        font-size: 85px;
        margin: 0;
        padding: 259px 0 245px 0;
        line-height: 0.8;
        font-weight: 100;


        & span {
            display: block;
        }

        & span:last-child {
            position: relative;
            left: 240px;

            @media screen and (max-width: 1144px) {
                left: 0;
            }
        }

        @media screen and (max-width: 1251px) {
            padding: 0 0 122px 0;
        }


        @include vp-767 {
            padding: 46px 0 46px 0;
            font-size: 70px;
        }
    }

    &__subtitle {
        top: 18%;

        @include vp-767 {
            display: none;
        }
    }

    &__wrapper {
        gap: 114px;
        display: flex;
        justify-content: space-between;
        position: relative;

        @media screen and (max-width: 1251px) {
            flex-wrap: wrap;
            gap: 0;
            flex-direction: column-reverse;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        max-width: 571px;

        @media screen and (max-width: 1251px) {
            max-width: 80%;
        }

        @include vp-767 {
            max-width: 100%;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 665px;

        @media screen and (max-width: 1251px) {
            max-width: 80%;
        }

        @include vp-767 {
            max-width: 100%;
        }
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.02em;

        &--pt {
            padding-top: 14px;

            @media screen and (max-width: 1251px) {
                padding-top: 22px;
                padding-bottom: 22px;
            }
        }

        &--mb {
            margin-bottom: 26px;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 824px;
        height: auto;
        z-index: -1;

        @media screen and (max-width: 1251px) {
            opacity: 0.3;
        }
    }
}