.collection-vibe {
    &__title {
        padding-top: 656px;
        padding-bottom: 91px;
        font-family: $ff-rasfire;
        color: $color-white;
        font-size: 48px;
        font-weight: 100;
        margin: 0;

        @include vp-1023 {
            padding-top: 56px;
            padding-bottom: 45px;
        }

        & span {
            display: block;
        }
        
    }

    &__subtitle {
        top: 49%;

        @include vp-767 {
            display: none;
        }
    }

    &__wrapper {
        justify-content: space-between;
        position: relative;
        gap: 20px;
        display: flex;

        @include vp-1023 {
            flex-wrap: wrap;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 665px;
    }

    &__image {
        padding-top: 180px;
        margin-bottom: 75px;

        @include vp-767 {
            padding-top: 0;
            margin-bottom: 0;
            position: absolute;
            z-index: -1;
            opacity: 0.3;
            top: 500px;
        }
    }

    &__text {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.02em;
    }
}