.details {
    padding-top: 147px;
    overflow: hidden;

    &__wrapper {
        position: relative;
    }

    &__title {
        font-family: $ff-rasfire;
        font-size: 85px;
        font-weight: 100;
        color: $color-white;
        position: relative;
        margin: 0;
        margin-bottom: 124px;

        & span {
            display: block;
        }

        & span:nth-child(2) {
            margin-top: -17px;
            position: relative;
            left: 192px;

            @include vp-767 {
                left: 0;
            }
        }

        @include vp-767 {
            font-size: 65px;
            margin-bottom: 62px;
        }
    }

    &__subtitle {
        top: 9%;

        @include vp-767 {
            display: none;
        }
    }

    &__list {
        position: relative;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 779px 1fr;
        column-gap: 114px;

        @media screen and (max-width: 1287px) {
            grid-template-columns: 1fr 1fr;
        }

        @include vp-767 {
            grid-template-columns: 1fr;
            gap: 57px;
        }
    }

    &__item {
        position: relative;
        counter-increment: step-counter;

        //list marker
        &::before {
            font-family: $ff-volkorn;
            position: absolute;
            content: counter(step-counter, decimal-leading-zero);
            font-size: 30px;
            line-height: 22px;
            letter-spacing: 0.01em;
        }

        &--bottom {
            display: flex;
            align-self: end;
            margin-bottom: 11px;
        }
    }

    &__image-detail-wrapper {
        display: flex;

        @media screen and (max-width:1317px) {
            flex-wrap: wrap;
        }
    }
}