.hero {
    overflow: hidden;

    &__wrapper {
        min-height: 832px;
        position: relative;
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        font-family: $ff-rasfire;
        color: $color-white;
        font-size: 350px;
        margin: 0;
        line-height: 0.55;
        font-weight: 100;
    }

    &__subtitle {
        top: 54%;
    }

    &__image {
        position: absolute;
        top: 0;
        z-index: 2;
        font-weight: 400;
        right: 0;
        transition: transform 5.3s ease-in-out;
    }
}