.hero {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 800px;
    position: relative;
    overflow: hidden;

    &__title {
        position: absolute;
        bottom: 0;
        left: 47px;
        font-family: $ff-rasfire;
        color: $color-white;
        font-size: 350px;
        margin: 0;
        line-height: 0.55;
        font-weight: 100;
    }

    &__subtitle {
        position: absolute;
        top: 50%;
        font-family: $ff-roboto;
        font-size: 25px;
        font-weight: 500;
        font-style: italic;
        margin: 0;
        transform: rotate(-90deg) translate(50%, -50%);
        left: -25px;
        display: block;
        line-height: 0.5;
    }

    &__image {
        position: absolute;
        top: 0;
        z-index: 2;
        font-weight: 400;
        right: 0;
        transition: transform 5.3s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }
}