.intro {
    padding-top: 124px;

    &__image {
        z-index: 1;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__content {
        max-width: 665px;
    }

    &__title {
        margin: 0 0 91px;
        font-size: 85px;
        font-family: $ff-rasfire;
        color: $color-white;
        font-weight: 100;

        span {
            display: block;
        }

        span:first-child {
            position: relative;
            left: -436px;
        }
    }

    &__text {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.02em;
        display: block;

        &:first-of-type {
            margin-bottom: 25px;
        }
    }
}