.nav {
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 100px;
        display: flex;
    }

    &__link {
        font-size: 20px;
        transition: color $transition-300;

        &:hover {
            color: $color-atom-blue;
        }
    }

}